# node.js
out
dist/**
node_modules
test-results

# vscode-test
.vscode-test
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/**.db*
test/**/.vscode/**
test-results/**

vscode.d.ts

*.vsix

**/.venv/**

**/__pycache__

**/log

samples/**/build
samples/**/install
samples/**/log
samples/**/.vscode
